[submodule "libultraship"]
	path = libultraship
	url = https://github.com/utsnik/libultraship.git
	branch = wiiu-release
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/harbourmasters/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
